.navbar { border: none; min-height: 24px; max-height: 24px; }

.navbar-nav > li > a { padding: 0 8px; line-height: 24px; }

.navbar-brand { font-size: 1em; padding: 0 8px 0 0px; height: 24px; line-height: 24px; }

.navbar-text { padding: 0 8px; margin: 0; }

.navbar-toggle { margin: 0; padding: 5px 2px; border: none; }

.navbar-collapse { background-color: #3a3f44 }

#logoutform { line-height: 24px; }

#videowrap-header,
#chatheader { height: 24px; line-height: 24px; padding: 0; border: none; }

#resize-video-smaller,
#resize-video-larger { display: none; }

#mainpage { position: absolute; top: 24px; bottom: 0px; left: 0; right: 0; padding: 0; }

.container-fluid { height: 100%; display: flex; flex-direction: column; margin: 0; padding: 0; }

#main { flex: 1; display: flex; flex-direction: column-reverse; overflow: auto; }

#videowrap,
#chatwrap { margin: 0; }

.row { margin: 0; }

#chatwrap { flex: 1; display: grid; grid-template-columns: 0fr 1fr; grid-template-rows: 24px 1fr auto; overflow: auto; }

@media (min-aspect-ratio: 1/1){
 #main { flex-direction: row; }
 #chatwrap { flex: min-content; max-width: 540px }
 #videowrap { flex: 2; max-height: 100%; }
 #videowrap > .embed-responsive { position: relative; padding-bottom: unset; height: calc(100% - 24px); max-height: calc(100% - 24px); }
 }

#chatheader { grid-column: 1 / 3; grid-row: 1; }

#userlist { grid-column: 1; grid-row: 2; overflow: auto; }

#usercount { white-space: nowrap; flex-grow: 1; }

#messagebuffer { grid-column: 2; grid-row: 2; overflow: auto; }

#chatwrap > form {  grid-column: 1 / 3; grid-row: 3;  }

#userlist,
#messagebuffer { height: unset !important; border: unset; }

#motdrow,
#announcements,
#controlsrow,
#resizewrap,
#sitefooter,
#playlistrow,
#footer { display: none !important; }

/* Hide login forms */
#nav-collapsible > div { display: none !important; }

#guestlogin > .form-control,
#guestlogin > .input-group-addon,
#chatline { padding: 0 5px; height: 35px; }

#modflair { padding: 0 0.5em; font-size: 14px; font-weight: unset; line-height: unset; border-radius: unset; }

button#emotelistbtn {
  padding: 0px 2.5rem 0 2.5rem;
  margin-right: 2rem;
  margin-left: 5px;
  height: 100%;
  font-weight: unset;
  font-size: 14px;
  line-height: unset;
}

.drinkWrapToggle #drinkcount {
  margin: 0;
  padding: 0.5rem 0 0 1rem;
}
