/* Custom theme by Quigly the Archivist
* These custom styles are intended to create a
* Halloween inspired effect.
*
* Version 2020.9.14
*/

/* Constants */


/* IMPORTS
* (Needed for the general layout style rules)
*/
@import "../cytube.css";

.userlist_siteadmin {
  text-shadow: 2px 2px 5px #cc0000;
}

.userlist_siteowner {
  text-shadow: 2px 2px 5px #0000cc;
}

.userlist_op {
  text-shadow: 2px 2px 5px #00aa00;
}

.userlist_guest {
  text-shadow: 2px 2px 5px #888888;
}

#chatwrap border {
  box-shadow: 2px 2px 5px gray;
}

#chatwrap .server-msg-reconnect {
  box-shadow: 2px 2px 5px green;
}
