/* Custom theme by Quigly the Archivist
* These custom styles are intended to create a
* Halloween inspired effect.
*
* Version 2020.9.14
*/

/* Constants */


/* IMPORTS
* (Needed for the general layout style rules)
*/
@import "../cytube.css";

body {
  background-image: url("https://raw.githubusercontent.com/intentionallyIncomplete/personal_cytube_movie_repo/master/custom_themes/bg/red_skull_bg.jpg") !important;
  background-size: 100% !important;
}

.userlist_item {
    text-shadow: 0 0 10px #77ccff !important;
}

.userlist_siteadmin {
  color: #add110 !important;
  /* text-shadow: 0px 0px 10px !important; */
}

.userlist_owner {
  color: #ff0000 !important;
  /* text-shadow: 0px 0px 10px #77ccff !important; */
}

.userlist_op {
  color: #009900 !important;
  /* text-shadow: 0px 0px 10px !important; */
}

.userlist_guest {
  /* text-shadow: 0px 0px 10px #888888; */
}

#chatheader {
  box-shadow: 0px 0px 10px !important;
}

#chatwrap .server-msg-reconnect {
  box-shadow: 0px 0px 10px !important;
}
