/* Custom theme by Quigly the Archivist
* These custom styles are intended to create a
* Halloween inspired effect.
*
* Version 2020.9.17
*/

/* Constants */


/* IMPORTS
* (Needed for the general layout style rules)
*/
@import "../cytube.css";
@import "../cinematoggle.css";

body {
  background-image: url("https://raw.githubusercontent.com/intentionallyIncomplete/quiglys_movie_repo/master/custom_themes/bg/red_skull_bg.jpg") !important;
  background-size: 100% !important;
}

.userlist_item {
    text-shadow: 0 0 7px !important;
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/2068/2068566.svg");
    background-size: 25px;
    background-position: bottom;
    background-repeat: repeat-x;
}

.afk-user {width: 2rem;}

.userlist_siteadmin {
  color: #add110 !important;
  /* text-shadow: 0px 0px 10px !important; */
}

.userlist_owner {
  color: #ff0000 !important;
  /* text-shadow: 0px 0px 10px #77ccff !important; */
}

.userlist_op {
  color: #009900 !important;
  font-weight: bold;
  /* text-shadow: 0px 0px 10px !important; */
}

.userlist_guest {
  /* text-shadow: 0px 0px 10px #888888; */
}

#userlist, #messagebuffer {
  background-color: rgba(39, 33, 33, 0.99);
}

#chatheader {
  box-shadow: 0px 0px 10px !important;
}

#chatwrap .server-msg-reconnect {
  box-shadow: 0px 0px 10px !important;
}

#motdwrap {
  background-color: rgba(39, 33, 33, 0.99);
  box-shadow: 0 0 10px rgba(52, 255, 171);
  text-shadow: 0 0 5px rgba(255,0,88);
}
